body{
	margin:0;
	font:18px/25px Arial, Helvetica, sans-serif;
	color:#000;
}
.container{max-width: 1200px;margin: 0 auto;}
#footer {background: green;}
.wrap{
	position: relative;
	background: pink;
}
.header-holder{
	max-width: 1000px;
	margin: 0 auto;
		text-align: center;
	padding: 20px 0;
}
.wrap.sticky{
	position: fixed;
	z-index: 99;
	background: $white;
	top: 0;
	right: 0;
	left: 0;
}
#nav ul{
	padding:0; margin:0; list-style:none;
	text-align: center;
}
#nav li{display:inline-block; vertical-align:top;}
h2{margin: 0 0 15px;}
@media only screen and (max-width: 767px){
	.wrap.sticky{position: static;}
}